numpy
scikit-learn
bibtexparser
Django
networkx
nltk
openai
pandas
pathlib
plotly==5.24.1
PyPDF2
requests
djangorestframework
gunicorn
whitenoise
django-cors-headers
pyyaml
jinja2
beautifulsoup4
pymupdf
matplotlib
openpyxl
xmltodict
lxml